@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "made-outer-sans-medium";
  src: url("../fonts/made-outer-sans/MADE\ Outer\ Sans\ Medium\ PERSONAL\ USE.otf")
    format("truetype");
}
@font-face {
  font-family: "made-outer-sans-bold";
  src: url("../fonts/made-outer-sans/MADE\ Outer\ Sans\ Bold\ PERSONAL\ USE.otf")
    format("truetype");
}
@font-face {
  font-family: "made-outer-sans-light";
  src: url("../fonts/made-outer-sans/MADE\ Outer\ Sans\ Light\ PERSONAL\ USE.otf")
    format("truetype");
}

html,
body {
  @apply bg-black overflow-x-hidden text-white selection:bg-yellow selection:text-black;
  font-family: "made-outer-sans-medium";
}

.font-family- {
  &bold {
    font-family: "made-outer-sans-bold";
  }
  &light {
    font-family: "made-outer-sans-light";
  }
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #FAFF00 #222222;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}
*::-webkit-scrollbar-track {
  @apply bg-dark-gray rounded;
}

*::-webkit-scrollbar-track:hover {
  @apply bg-dark-gray;
}

*::-webkit-scrollbar-track:active {
  @apply bg-dark-gray;
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-yellow;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-yellow;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-yellow;
}
